.header
    padding: 24px 0
    &-row,
    .container
        display: flex
        justify-content: flex-start
        align-items: center
    &-row
        padding: 10px 0
        &:last-of-type
            border-top: 1px solid #CFCFCF

    &-content
        width: 83%
        margin: 0 0 0 auto

    &-actions
        margin: 0 0 0 auto
        text-align: right

    a
        display: inline-block
        font-weight: 300
        font-size: 18px
        line-height: 21px
        &:hover
            text-decoration: underline
    &__partners
        background-image: url('../img/key.png')
    &__empoees
        background-image: url('../img/partners.png')
    &__empoees,
    &__partners
        font-weight: 700 !important
        font-size: 14px
        padding: 2px 0 2px 30px
        background-repeat: no-repeat
        background-position: center left
        background-size: 20px auto
        margin-left: 33px

    .nav
        &__link
            padding: 10px 16px
            &:first-of-type
                padding-left: 0

    .hoverDown
        padding: 10px 75px 10px 0
        &-btn
            font-weight: bold


    form
        display: inline-block
        margin: 0 0 0 auto
        width: 240px

    input
        background-image: url('../img/search.svg')
        background-repeat: no-repeat
        background-position: left 15px center
        background-size: 16px auto
        box-sizing: border-box
        text-align: right
        margin: 0

    .btn
        margin-left: 27px
