@import 'normolize'
@import 'elements'
@import 'modal'
@import 'header'
@import 'footer'
// @import 'select'
@import 'slick'

.main
    padding: 35px 0
    position: relative
    &__text
        max-width: 870px

.catalog
    padding: 35px 0 70px
    &-wrap
        align-items: stretch
        border: 1px solid #eee
        border-bottom: none
        border-right: none

    &__img
        height: 345px
        padding: 30px
        img
            width: 100%
            height: 100%
            display: block
            object-fit: contain
            object-position: center center
            mix-blend-mode: color-burn

    &-item
        width: 33.33%
        text-align: center
        border:
            right: 1px solid #eee
            bottom: 1px solid #eee
        &:hover
            opacity: .8
            background-color: rgba(237, 234, 231, 0.5)

    &__heading
        text-align: left
        padding: 0 30px 30px

.features
    padding: 70px 0
    overflow: hidden
    &__headline
        margin-bottom: 110px

    .wrap
        align-items: center
        min-height: 600px
        max-width: 1350px
        margin: 0 auto 0 auto
        position: relative
        &::before
            content: ''
            display: block
            width: 100vw
            height: 100%
            position: absolute
            z-index: -1
            top: 0
            left: 50%
            transform: translate(-50%)
            background-image: url('../img/zig-zag.svg')
            background-repeat: no-repeat
            background-position: center center
            overflow: hidden

    &-box
        width: 80%
        background-color: #EDEAE7
        box-shadow: -60px 60px 45px -30px #F28E00
        transform: matrix(1, -0.61, 1.22, 0.71, 0, 0)
        display: inline-block
        padding: 40px 0px
        margin-bottom: 90px

    &-item
        width: 280px
        text-align: center
        // height: 270px !important
        // aspect-ratio: 1/1
        span
            display: block
            width: 100%
            font-weight: 700

        .bold
            font-size: 62px
            line-height: 100%

        .small
            font-size: 22px
            line-height: 100%

        &:nth-child(1),
        &:nth-child(3)
            margin-top: 40px
            align-self: start
        &:nth-child(2),
        &:nth-child(4)
            align-self: flex-end

.news
    &-wrap
        align-items: flex-start
        justify-content: flex-start
    &-item
        width: 32.5%
        position: relative
        z-index: 1
        margin: 0 1.2% 28px 0
        img
            width: 100%
            aspect-ratio: 9/5
            object-fit: cover
            display: block
            margin-bottom: 30px

        &:nth-of-type(3n+3)
            margin-right: 0

    &__time
        position: absolute
        top: 20px
        left: 20px
        z-index: 2000
        font-weight: 300
        font-size: 14px
        line-height: 16px
        background-color: #fff
        border-radius: 40px
        padding: 7px 14px 6px
        text-align: center

    &__heading
        font-weight: 700
        font-size: 18px
        line-height: 130%
        margin-bottom: 15px

    &__text
        font-size: 18px
        line-height: 130%
        margin-bottom: 11px

    &__link
        font-weight: 700
        font-size: 18px
        line-height: 21px
        color: $orange

.slider
    padding: 70px 0 0
    margin-bottom: 70px
    overflow: hidden
    &-slide
        max-width: 1500px
        margin: 0 auto
        justify-content: space-between
        align-items: center
        display: flex !important

    &-img
        img
            width: 100%
            object-fit: cover

    &-img,
    &-title
        display: block
        width: 48%

    .heading
        font-weight: 700
        font-size: 64px
        line-height: 75px
        color: $orange
        margin: 0 0 4px 0

    .descr
        font-weight: 700
        font-size: 18px
        line-height: 28px
        margin: 0

    p
        font-weight: 300
        font-size: 18px
        line-height: 21px
        margin-top: 30px

    ol
        list-style: none
        counter-reset: item
        padding: 0
        margin-top: 20px
        li
            position: relative
            padding: 14px 0 4px 50px
            margin-bottom: 10px
            &::before
                content: counter(item)
                counter-increment: item
                text-align: center
                color: #fff
                line-height: 40px
                display: inline-block
                width: 40px
                height: 40px
                background-color: $orange
                position: absolute
                border-radius: 50%
                left: 0
                top: 50%
                margin-top: -15px

    .slick
        &-slide,
        &-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"]
            opacity: 0
            visibility: hidden
            transition: opacity .3s ease

        &-center,
        &-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"]
            visibility: visible
            opacity: 1

        &-dots
            max-width: 1520px
            margin: 60px 0 0 calc((100% - 1520px)/2)

.online
    padding: 70px 0
    .container
        background-image: url('../img/KOBLIK-GROUP.svg')
        background-repeat: no-repeat
        background-position: center right
        background-size: 30% auto

    .headline
        color: $orange
        margin-bottom: 20px

    form
        max-width: 55%
        align-items: flex-start

    p
        max-width: 45%
        font-weight: 400
        font-size: 18px
        line-height: 21px
        margin-bottom: 40px

    input,
    select
        border-radius: 40px
        background-color: #F1F1F1
        padding: 0 20px
        height: 40px
        margin: 0

    .inp
        &-wrap
            width: 48%
            margin-bottom: 32px
            label
                font-weight: 700
                font-size: 18px
                line-height: 21px
                margin: 0 0 6px
        &-checkbox
            max-width: 400px
            margin: 0 0 0 25px
            label
                margin: 0

.production
    &-box
        max-width: 30%
        margin: 0 0 30px

    &-item
        display: flex
        align-items: center
        margin: 0 0 14px
        .heading
            display: inline-block
            padding: 15px 28px 14px
            background-color: #40444E
            color: #fff
            border-radius: 40px
            position: relative
            margin-right: 65px
            transition: all ease .3s
            &::before
                content: ''
                transition: all ease .3s
                display: block
                width: 20px
                height: 20px
                position: absolute
                right: -20px
                z-index: -1
                background-image: url('../img/slider_right.svg')
                background-repeat: no-repeat
                background-position: center center
                background-size: contain
                opacity: 0

        img
            opacity: 0
            transition: all ease .3s
            transform: translateX(-20px)

        &:hover
            .heading
                background-color: $orange
                &::before
                    right: -40px
                    opacity: 1

            img
                opacity: 1
                transform: translateX(0px)

    &__text
        margin-top: 32px
        border-top: 1px solid #D9D9D9
        padding: 20px 0 0
        font-weight: 500
        font-size: 24px
        line-height: 28px
        color: #F28E00

.service
    width: 23%
    &-wrap
        padding: 30px 0 0
        align-items: flex-start

    img
        width: 114px
        height: 114px
        object-fit: contain
        display: block
        margin-bottom: 28px

    .heading
        font-weight: 700
        font-size: 24px
        line-height: 28px
        margin-bottom: 25px

    .text
        font-weight: 300
        font-size: 18px
        line-height: 130%
